

/*--------------------------------------------------------------
# Section Intro
--------------------------------------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 400;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #777;
  font-style: italic;
}


/*--------------------------------------------------------------
# Bulles vignettes
--------------------------------------------------------------*/
.vignette1, .vignette2 {
    position: absolute;
    font-weight: 500;
    width: 93%;
    top: 110px;
    font-size: 22px;
    line-height: 1.4em;
    color: #f2764a;
}

.vignette2 {
  top: 95px;
}

#intro {
  width: 100%;
  height: 100vh;
  background: url("../img/home.png") center top no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: relative;
}

#intro .intro-text {
  position: absolute;
  left: 0;
  top: 220px;
  right: 0;
  height: calc(50% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#intro h1 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}



#intro p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

#intro .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#intro .btn-get-started:hover {
  color: #f2764a;
  background: #fff;
}

.full {
  background-color: #f1efef;
  width: 100%;
  padding-bottom: 100px;
}

.product {
  margin-top: -50px;
  text-align: center;
}

.tester p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2em;
  color: black;
  margin-top: 50px;
}

.tester img {
  width: 200px;
}

/*--------------------------------------------------------------
Description de l'application
--------------------------------------------------------------*/

.infos-bulle {
position: absolute;
top: 150px;
width: 100%;
}

.infos-bulle-droite {
position: absolute;
top: 150px;
width: 92%;
}

.infos-bulle span, .infos-bulle-droite span {
  font-weight: bold;
  font-size: 22px;
  color: black;
}

.features-row img {
      width: 100%;
    max-width: 480px;
}

/* Product Advanced Featuress Section
--------------------------------*/

#advanced-features {
  overflow: hidden;
  clear: both;
  text-align: center;
}

#advanced-features .features-row {
  padding: 50px 0 30px 0;
}

#advanced-features h2 {
  font-size: 22px;
  font-weight: 500;
  color: #000;
}

.sous-titre {
  padding-top: 60px;
}

.sous-titre hr {
    height: 2px;
    background-color: #f2764a;
    width: 250px;
}

#advanced-features h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #999;
}

#advanced-features p {
  line-height: 24px;
  color: #777;
  margin-bottom: 30px;
  font-size: 18px;
}

.montrer {
  display: block;
}

.cacher {
  display: none;
}


/*--------------------------------------------------------------
#  S'inscrire
--------------------------------------------------------------*/
#inscription {
  width: 100%;
  height: 100vh;
  background: url("../img/bg-section5.png") center top no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 100px;
}

#inscription hr{
  background-color: white;
  height: 4px;
  width: 200px;
}

#inscription .inscription-text {
  position: absolute;
  left: 0;
  top: 175px;
  right: 0;
  height: calc(50% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#inscription h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 38px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}

#inscription p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
  font-weight: 300;
  margin-top: 40px;
}

#inscription .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#inscription .btn-get-started:hover {
  color: #f2764a;
  background: #fff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #333;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  color: #888;
}

#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: #f2764a;
}

#footer i {
    font-size: 32px;
    color: #f2764a;
}

#footer h5{ 
	color:#f2674a; 
	font-size:16px; 
	font-weight:450; 
	margin-bottom: 10px;
  padding-left: 15px;
} 

/*--------------------------------------------------------------
# RESPONSIVE
--------------------------------------------------------------*/

@media (max-width: 991px) {

#footer h5 {
  display: none;
}
}


@media (max-width: 940px) {
  .montrer {
  display: none;
}

.cacher {
  display: block;
}
}

@media (max-width: 770px) {
    #intro h1 {
    font-size: 28px;
    line-height: 36px;
    margin: 0 0 20px 0;
  }
  #intro .intro-text {
    top: 190px;
  }
  #inscription h2 {
    font-size: 22px;
    line-height: 36px;
  }
    #inscription p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }

    #intro p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    width: 80%;
  }

	.espace{
		padding-top:15px!important;
	}
  #inscription {
    margin-top: 0;
  }

  .tester p {
    font-size: 22px;
  }

  #advanced-features h2 {
    font-size: 20px;
	margin-left: 20px;
    margin-right: 20px;
    line-height: 30px;
}
  }


@media (max-width: 490px) {
  .infos-bulle-droite {
    top: 130px;
    width: 90%;
  }
  #intro {
    height: 100vh;
  }
  #intro .intro-text {
    top: 190px;
}
#inscription {
  height: 65vh;
}
#inscription .inscription-text {
  top: 120px;
}
}

@media (max-width: 420px) {
  .infos-bulle, .infos-bulle-droite {
    top: 22%;
  }

    #advanced-features p {
    font-size: 15px;
}

.infos-bulle span, .infos-bulle-droite span {
    font-size: 16px;
}
}



